include ./mixins/section.mixin.pug
include ./mixins/image.mixin.pug
include ./mixins/subtitle.mixin.pug
include ./mixins/link.mixin.pug
include ./mixins/contactLink.mixin.pug
include ./mixins/divider.mixin.pug
include ./mixins/hint.mixin.pug

doctype html 
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap",
      rel="stylesheet"
    )
    link(rel="stylesheet", type="text/css", href="../../css/bundle.css")
    title Title
  body
    center.wrapper
      table.main
        +section
          tr
            td.logo-wrapper
              table.column
                tr
                  td
                    +image("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/logo", "Logo").logo(href="#") 
        +section.inner-wrapper
          tr
            td
              table
                +section
                  img.header-img(
                    src="http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/background",
                    alt="Car on a road"
                  )
                +section(class="mb-24")
                  h1.client-name {Herr} {Williamson}
                +section.content
                  block content
                +section
                  +divider
                  +subtitle("With kind regards, ")
                  +subtitle("Your LeaseTeq Team ♥")
        +section.browser-link
          p.browser-link-wrapper
            | Is this email not displaying correctly? 
            +link("/", "View it in your browser")(
              target="_blank"
            )
        +section.contact-us
          tr
            td
              +contactLink("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/phone", "+41 44 787 01 21")(
                href="tel:+41447870121"
              )
            td
              +contactLink("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/envelop", "support@leaseteq.ch")(
                href="mailto:support@leaseteq.ch"
              )
            td
          tr
            td
              +contactLink("http://lt-leasing-development-lb-1283385798.eu-central-1.elb.amazonaws.com/resource/image/web", "www.leaseteq.ch")(href="www.leaseteq.ch")
        +section 
          +divider
        +section
          tr 
            td 
              +hint("LeaseTeq AG | Talstrasse 37 | CH-8808 Pfäffikon SZ | Switzerland | UID: CHE-167.950.125")(class="text-center")
        +section      
              tr 
                td 
                  +hint("If you are not the correct recipient or have received this email in mistake, please inform the sender immediately and destroy this email.")(class="text-center")


      
